body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    margin: 24px;
    text-align: center;
}

.timer{
    margin-top: 280px;
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background-color: white;
    text-align: center;
}

.timer__part{
    font-size: 36px;
    font-weight: bold;
}

.timer__btn{
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
}

.timer__btn--start{
    background: #00b84c;
}

.timer__btn--stop{
    background: red;
}

